<section>
  <div class="container">
    <div class="row">
      <div class="col-sm-5">
        <div class="p-profile"></div>
      </div>
      <div class="col-sm-7">
        <span class="p-tag">Fashion</span>
        <h1 class="mt-4">Eliena Jones</h1>
        <p class="p-des mt-4 mb-4">
          Jones wanted to become an actress when her mom took her to an acting class. After the class, Jones thought it was very enjoyable. As a result, Jones quit gymnastics, which she had been doing for six years and started taking acting classes.Jones played the recurring role of Young Alex, appearing in nine episodes of Nikita. She has said that she decided she wanted to commit to professional acting after her time on Nikita. In 2018 Jones co-starred as Lara in the psychological thriller film, Nomis, also known as Night Hunter.
        </p>
        <a href="#" class="p-readmore">Read More <img src="assets/fast-forward.png" alt="The icon for Read More" width="10"
          class="ml-2"></a>
          <div>
            <h6>Subscribe to our Newsletter</h6>
            <form class="form-inline" >
              <div class="form-group">
                  <input type="email" class="form-control" id="email" placeholder="Enter your email here">
                   <button class="btn btn-warning">subscribe</button>
              </div>
              </form>
          </div>
      </div>
    </div>
  </div>
</section>
